*.pyc
*.pyo
.DS_Store
.idea
.vscode
*.log
nohup.out
/venv/
/.venv/
*.cache
db
graylog.yml
core
**/*.pytest_cache
src/.pytest_cache
outputs
/performance_results/mistakes/
/models_data/
/huggingface/
/.ruff_cache/
/data/
/src/checkpoints/