mongomock==4.1.2
sentry_sdk==2.8.0
pymongo==4.6.3
sentry-sdk==2.8.0
redis==5.0.7
requests==2.32.3
git+https://github.com/huridocs/queue-processor@2a961d0f3e579a63a439da058a023d04973449b2
git+https://github.com/huridocs/trainable-entity-extractor@92fc36e2eeb9223003bb236dfb84e94419aac1ee